* {
  background-color: #E0E0E0;
}

p {
	margin-top: 25;
	line-height: 1.25;
}

h1 {
	text-align: center;
	font-size: 2.5em;
}

h2 {

}

h4 {
	margin 5 0 0 0;
}

div#headerlinks {
	text-align: center;
	list-style-position: inside;
}

div#header-links ol li {
  margin: 0 20px 20px 0;
  vertical-align: top;
}

div#header-links ul li {
  margin: 0 20px 20px 0;
  vertical-align: top;
}

.indent {
	text-indent: 20pt;
}

ol {
  list-style-type: None;
}

ol.show {
  list-style-type: upper-roman;
}

ol.show li {
  margin: 10 10px 10px 10;
  vertical-align: top;
}

a {
  text-decoration: None;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}